@page "/admin/invites"
@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@using SocialMotive.Core.Model.Admin
@attribute [Authorize(Roles = "Admin")]
@inject AdminApiService Api

<PageTitle>Admin - Invites</PageTitle>

<div class="admin-container">
    <div class="page-header">
        <h1>Invites</h1>
        <p class="text-muted">Manage tracker invite records</p>
    </div>

    <TelerikGrid Data="@_items"
                 OnDelete="@OnDelete"
                 Pageable="true"
                 PageSize="25"
                 Sortable="true"
                 FilterMode="@GridFilterMode.FilterRow">
        <GridToolBarTemplate>
            <a href="/admin/invite/0" class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary">
                New Invite
            </a>
        </GridToolBarTemplate>
        <GridColumns>
            <GridColumn Field="@nameof(global::SocialMotive.Core.Model.Admin.Invite.InviteId)" Title="ID" Width="80px" />
            <GridColumn Field="@nameof(global::SocialMotive.Core.Model.Admin.Invite.Name)" Title="Name" />
            <GridColumn Field="@nameof(global::SocialMotive.Core.Model.Admin.Invite.Description)" Title="Description" />
            <GridColumn Field="@nameof(global::SocialMotive.Core.Model.Admin.Invite.InviteType)" Title="Type" Width="120px" />
            <GridColumn Field="@nameof(global::SocialMotive.Core.Model.Admin.Invite.CreatedByTrackerId)" Title="Created By" Width="130px" />
            <GridColumn Field="@nameof(global::SocialMotive.Core.Model.Admin.Invite.ClaimedByTrackerId)" Title="Claimed By" Width="130px" />
            <GridColumn Field="@nameof(global::SocialMotive.Core.Model.Admin.Invite.CreatedAt)" Title="Created" DisplayFormat="{0:d}" Width="120px" />
            <GridColumn Title="Edit" Width="100px" Sortable="false" Filterable="false">
                <Template Context="rowItem">
                    @{ var item = (global::SocialMotive.Core.Model.Admin.Invite)rowItem; }
                    <a href="@($"/admin/invite/{item.InviteId}")" class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base">Edit</a>
                </Template>
            </GridColumn>
            <GridCommandColumn Width="60px">
                <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash" ThemeColor="@ThemeConstants.Button.ThemeColor.Error" />
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
</div>

@code {
    private List<global::SocialMotive.Core.Model.Admin.Invite> _items = new();

    protected override async Task OnInitializedAsync()
    {
        _items = await Api.GetInvitesAsync();
    }

    private async Task OnDelete(GridCommandEventArgs args)
    {
        var item = (global::SocialMotive.Core.Model.Admin.Invite)args.Item;
        await Api.DeleteInviteAsync(item.InviteId);
        _items = await Api.GetInvitesAsync();
    }
}
