@page "/admin/tracker-roles"
@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@using SocialMotive.Core.Model.Admin
@using AdminTrackerRole = SocialMotive.Core.Model.Admin.TrackerRole
@attribute [Authorize(Roles = "Admin")]
@inject AdminApiService Api

<PageTitle>Admin - Tracker Roles</PageTitle>

<div class="admin-container">
    <div class="page-header">
        <h1>Tracker Roles</h1>
        <p class="text-muted">Manage roles assignable to trackers</p>
    </div>

    <TelerikGrid Data="@_items"
                 OnDelete="@OnDelete"
                 Pageable="true"
                 PageSize="25"
                 Sortable="true"
                 FilterMode="@GridFilterMode.FilterRow">
        <GridToolBarTemplate>
            <a href="/admin/tracker-role/0" class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary">
                New Role
            </a>
        </GridToolBarTemplate>
        <GridColumns>
            <GridColumn Field="@nameof(AdminTrackerRole.TrackerRoleId)" Title="ID" Width="80px" />
            <GridColumn Field="@nameof(AdminTrackerRole.Name)" Title="Name" />
            <GridColumn Field="@nameof(AdminTrackerRole.Description)" Title="Description" />
            <GridColumn Field="@nameof(AdminTrackerRole.CreatedAt)" Title="Created" DisplayFormat="{0:d}" Width="120px" />
            <GridColumn Title="Edit" Width="100px" Sortable="false" Filterable="false">
                <Template Context="rowItem">
                    @{ var item = (AdminTrackerRole)rowItem; }
                    <a href="@($"/admin/tracker-role/{item.TrackerRoleId}")" class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-base">Edit</a>
                </Template>
            </GridColumn>
            <GridCommandColumn Width="60px">
                <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash" ThemeColor="@ThemeConstants.Button.ThemeColor.Error" />
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
</div>

@code {
    private List<AdminTrackerRole> _items = new();

    protected override async Task OnInitializedAsync()
    {
        _items = await Api.GetTrackerRolesAsync();
    }

    private async Task OnDelete(GridCommandEventArgs args)
    {
        var item = (AdminTrackerRole)args.Item;
        await Api.DeleteTrackerRoleAsync(item.TrackerRoleId);
        _items = await Api.GetTrackerRolesAsync();
    }
}
